.father{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}
.son{
    width: 100px;
    height: 100px;
    background: #ff8000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}